# Node.js dependencies
node_modules/

# Environment variables
.env

# Temporary files
uploads/*
!uploads/.gitkeep

# API keys and credentials
client_secret.json
*_credentials.json

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
